<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338094411243-pj9gbmv7li87tug47tslrirma7357j0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338094411243-pj9gbmv7li87tug47tslrirma7357j0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>338094411243-0d2j0viaro3c8200qql0q0328126gls4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoh6dGrQnmv8MuU2IxJszzpXrHgz-K5T4</string>
	<key>GCM_SENDER_ID</key>
	<string>338094411243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.murage.slashscreen</string>
	<key>PROJECT_ID</key>
	<string>igniters-3f469</string>
	<key>STORAGE_BUCKET</key>
	<string>igniters-3f469.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338094411243:ios:000efcbe5404c6f358ddae</string>
</dict>
</plist>